{% extends "layout.twig" %}
{% block title %}{{ title }}{% endblock %}
{% block menuitems %}
    <li class="nav-item">
        <a class="nav-link" href="{{ path("") }}">Home</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="{{ path("about") }}">About <span class="sr-only">(current)</span></a>
    </li>
{% endblock %}
{% block content %}
    <h1>About APIne Framework</h1>
    <br/>
    <p>APIne is a simple to use modular MVC Framework ready for use as a RESTful API. It intends to be a general purpose framework and a RESTful service providing basic session management, authentication, routing, and database abstraction without including useless tools. APIne's focus is to let you work without imposing to relearn PHP.</p>
    <p>You may per se, use APIne for solely for its routing system and its MVC approach then use your favorite PHP libraries for everything else.</p>
    <p>APIne already implements a comprehensive session manager, a basic yet effective Entity manager, and, TWIG as its template manager — enough to boot any kind of project.</p>
{% endblock %}