{% extends "layout.twig" %}
{% block title %}{{ title }}{% endblock %}
{% block menuitems %}
    <li class="nav-item active">
        <a class="nav-link" href="{{ path("") }}">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path("about") }}">About</a>
    </li>
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col jumbotron jumbotron-fluid mb-0">
                <div class="container">
                    <h1 class="display-4">Hello, world!</h1>
                    <p class="lead">This is a simple example of what is possible with the APIne Framework. It is intended to be replaced by your own project.</p>
                </div>
            </div>
            <div class="w-100"></div>
            <div class="col text-light bg-dark">
                <div class="card-body">
                    <h2 class="card-title">Amazing !</h2>
                    <p class="card-text">The MVC pattern keeps your code organized and helps you deliver your project faster.</p>
                </div>
            </div>
            <div class="col text-white bg-primary">
                <div class="card-body">
                    <h2 class="card-title">So Simple !</h2>
                    <p class="card-text">Just use this example project as a way to quickly start any new project.</p>
                </div>
            </div>
        </div>

        <div class="row justify-content-sm-center bg-light">
            <div class="col card border-0 bg-transparent">
                <div class="card-body">
                    <h2 class="card-title">So great !</h2>
                    <hr>
                    <p class="lead">I love this</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}