Options +FollowSymlinks
#Options +SymLinksIfOwnerMatch
Options -Indexes
<IfModule mod_rewrite.c>
	RewriteEngine On
	
	RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^([\s\S]*)$ index.php?apine-request=/$1 [QSA,END]

</IfModule>